{% extends 'home.html' %}
{% block content %}
  <div class="d-flex flex-wrap mt-3 justify-content-between">

    <!-- managed properties  -->
    <div class="card text-center me-3 h-100  shadow1">
      <div class="card-body row">
            <div class="col-md-3 d-flex align-items-center">
              <i class="fa-solid fs-2 fa-city"></i>
            </div>
            <div class="col-md-9 text-end">            
              <p class="card-text fs-2"> {{managed_properties_count}} </p>
              <h5>Manged <br> Properties</h5>
            </div>
          
      </div>
    </div>
    <!-- Apartment Units  -->
    <div class="card  me-3 h-100 shadow1">
      <div class="card-body row">
          <div class="col-md-3  d-flex align-items-center">
            <i class="fa-solid fs-1 fa-building-user"></i>
          </div>
          <div class="col-md-9  text-end">
            <p class="card-text fs-2"> {{ apartment_units_count}}</p>
            <h5 class="">Apartment <br> Units</h5>
          </div>
        
      </div>
    </div>
    <!--Tenants -->
    <div class="card text-center me-3 h-100 shadow1">
      <div class="card-body row">
        <div class="col-md-3 d-flex align-items-center">
          <i class="fa-solid fs-1 fa-people-group"></i>
        </div>
        <div class="col-md-9 text-end">
          <p class="card-text fs-2"> {{tenants_count}} </p>
          <h5 class="">Tenants</h5>
        </div>
      </div>
    </div>

        <!--Active Maintenance Request -->
        <div class="card text-center me-3 h-100 shadow1">
          <div class="card-body row">
            <div class="col-md-4  d-flex align-items-center">
              <i class="fa-solid fs-1 fa-toolbox"></i>
            </div>
            <div class="col-md-8 text-center ">
              <p class="card-text fs-2"> {{active_maintenance_count}}  </p>
              <h5 class="">Active<br> Request</h5>
            </div>
          </div>
        </div>
  </div>

  <div class="shadow1 p-3 mt-3  border border-2 rounded-2 bg-white">
    <h4 class="">Monthly Rental Table</h4>
    <table id="example" class="display">
      <thead>
          <tr>
              <th>Tenant Name</th>
              <th>Due Date</th>
              <th>Total Amount</th>
              <th>Amount Due</th>
              <th>Month</th>
              <th>Payment Status</th>
          </tr>
      </thead>
      <tbody>
          {% for row in data %}
          <tr>
              <td>{{ row.tenant_name }}</td>
              <td>{{ row.due_date.strftime('%d %b %Y') }}</td>
              <td>₹{{ '{:,.2f}'.format(row.bill_amount) }}</td>
              <td>₹{{ '{:,.2f}'.format(row.due_amount) }}</td>
              <td>{{ row.month.strftime('%b %Y')}}</td>
              <td> 
                {% if row.status in ['Overdue', 'Not Paid' ]%}
                  <span class="bg-danger px-2 py-1 rounded rounded-pill">{{ row.status }} </span>
                  {% elif row.status=='Paid' %}
                  <span class="bg-success px-2 py-1 rounded rounded-pill">{{ row.status }} </span>
                  {% else %}
                  <span class="bg-warning px-2 py-1 rounded rounded-pill">{{ row.status }} </span>
                {% endif %}
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function () {
      $('#example').DataTable()
    })
  </script>
{% endblock %}
